* {
  box-sizing: border-box;
}
body {
  background-color: gray;
  font-family: "Unbounded", cursive;
}

.search {
  border: 0;
  width: 500px;
  height: 38px;
}
.main__cinema {
  gap: 30px;
}
.cinema {
  width: 300px;
  height: 440px;
}

.cinema__img {
  z-index: -1;
  width: 300px;
  position: absolute;
}

h2 {
  color: rgba(255, 0, 0, 0.534);
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.cinema__btn {
  display: flex;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.24);
  border: solid 0.5px transparent;
  border-radius: 50%;
}
.cinema__btn-img {
  width: 28px;
  height: 28px;
}

.my-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 222;
  display: none;
}

.show {
  display: flex;
}

.my-modal-content {
  max-width: 600px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.my-modal-spinner:not(.d-none) + div {
  display: none;
}

.my-modal-spinner {
  display: block;
}

img {
  object-fit: cover;
}
